*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white-color: #fff;

  --brown-color: #cb9a6b;
  --brown-color-2: #853030;
  --light-brown-color: rgb(207, 169, 109);
  --black-color: rgb(37, 37, 44);
  --gray-color: rgba(33, 27, 74, 0.769);
  --darck-blue: #161f77;
  --blue: #1d299e;
  --colrh-visit: #959ef6;
  --question-back: #dceafe;
  --gray-color-2: rgba(223, 223, 223, 0.344);
  --textrea-backg-color: #2f2f2f;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  background-color: var(--white-color);
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;
}

/* 
===============
Global css
===============
*/
a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--white-color);
}

.btn {
  background-color: var(--brown-color);
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: var(--white-color);
  margin-bottom: 2rem;
}

ul li {
  list-style: none;
}
h1,
h2 {
  color: var(--blue);
}
h2,
h3,
p,
a {
  margin: 1rem 0;
}
h2 {
  font-weight: 400;
  margin-bottom: 2rem;
}
img {
  /* display: block; */
  max-width: 100%;
}

.section {
  padding: 3rem 0rem;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (max-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

p {
  color: var(--gray-color);
}
.section-title {
  text-align: center;
  padding: 3rem 0;
}
.section-title h2 {
  font-size: 48px;
  font-weight: 300;
}

/* 
===============
header
===============
*/

.header {
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  place-items: cen;
  margin: 0 3rem;
}

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}
.logo {
  width: 40px;
}
.menu-bar i {
  display: none;
}
.header-logo h1 {
  font-size: 20px;

  color: var(--blue);
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  place-items: center;
  gap: 4rem;
}
header nav ul li {
  margin-left: 5rem;
}
header nav ul a {
  color: var(--black-color);
}

#active {
  background-color: var(--brown-color);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: var(--white-color);
}
#active a {
  color: var(--white-color);
}
.fa-times {
  display: none;
  margin-left: -2rem;
}
@media screen and (max-width: 980px) {
  .fa-times {
    display: block;
    font-size: 2rem;
    color: var(--brown-color-2);
    position: relative;
    z-index: 1000;
    top: 0%;
    left: -10%;
    transform: translate(-50%, -200%);
    margin-left: 0rem;
  }
  .fa-times-show {
    left: 55%;
  }
  .header-logo h1 {
    font-size: 16px;
  }
  .header {
    position: relative;
    top: 0%;
    left: 0%;
    z-index: 1000;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 1rem 5rem;
  }
  .menu-bar i {
    display: block;
    color: var(--black-color);
    font-size: 2.3rem;
    margin-right: -6rem;
    width: 10px;
    transition: ease-in 0.5s;
  }
  .nav-list {
    display: none;
  }
  .header nav ul {
    position: absolute;
    top: 10%;
    left: 50%;
    background-color: var(--colrh-visit);
    padding: 80px 50px;
    height: 100vh;
  }
  .header-logo {
    margin-left: -3rem;
  }
  .header-show {
    display: block;
    width: 300px;

    /* width: 100%;
    height: 100vh; */
  }
  .header-logo {
    display: block;
  }

  .header nav ul li {
    width: 300px;
    margin-bottom: 6rem;
    z-index: 1000;
  }
  .header nav ul li a {
    color: white;
  }
  .header nav ul li a:hover {
    color: var(--brown-color);
    transition: ease-in-out 0.5s;
    font-size: 1.3rem;
  }

  #active {
    background-color: transparent;
    padding: 0;
    color: var(--brown-color);
  }

  header nav ul li {
    margin-left: 0;
  }
}

/* 
===============
banner
===============
*/
.banner .banners {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  place-items: center;
  gap: 2rem 7rem;
  margin-bottom: 3rem;
}
.banner .banners .banner-info {
  text-align: left;
}
.banner .banners .banner-info h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 2rem;
  text-align: left;
  float: left;
}
.banner .banners .banner-info p {
  color: var(--gray-color);
}
.banner .banners .banner-photo img {
  display: block;

  border-radius: 4px;
}

@media screen and (max-width: 992px) {
  .banner .banners {
    display: block;
  }
  .btn {
    margin-bottom: 2rem;
  }
  .banner .banners .banner-info h1 {
    font-size: 3.4rem;
  }
  .banner .banners .banner-info p {
    font-size: 1.5rem;
  }
}

/* 
===============
black-img
===============
*/

/* .black-img {
  width: 100vw;
  height: 20vh;
  background: url("./images/IMG_2022\ 2.jpg") center/cover;
} */

/* 
===============
works
===============
*/
.work .works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.work p {
  margin-bottom: 2rem;
}

.btn-center {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.work .works .icons span a img {
  width: 100px;
}
.work .works h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black-color);
}

@media screen and (max-width: 992px) {
  .work .works {
    display: block;
  }
  .work .works .icons span a img {
    width: 3.3rem;
  }
  .work p {
    margin-bottom: 1.6rem;
  }
}
/* 
===============
course
===============
*/

.course .courses .select-course img {
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  line-height: 300px;
}

.course .courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-content: space-between;
  align-items: center;
  text-align: center;
  place-items: center;
  align-content: center;
}
.select-course {
  box-shadow: 3px 3px 20px var(--gray-color-2), 3px 3px 20px var(--gray-color-2),
    4px 4px 10px var(--gray-color-2), 4px 4px 10px var(--gray-color-2);
  width: 70%;
  margin-bottom: 4rem;
  border-radius: 3px;
  width: 70%;
  height: 40vh;
}

.course .courses .course-info {
  display: block;
  position: relative;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--gray-color-2);
  margin-top: 3.3rem;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.course .courses p {
  padding-top: 1rem;
  font-size: 14px;
}

.course .courses .course-info .icon-rection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;

  place-items: center;
}
.course .courses .course-info .icon-rection .icon-rect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 2px;
}

.course .courses .course-info .icon-rection .icon-rect span i {
  color: var(--brown-color-2);
  border: none;
  font-weight: 700;
}
.course .courses .course-info .icon-rection span {
  font-size: 12.2px;
  text-align: center;
  margin: 0 2px;
}
@media screen and (max-width: 992px) {
  .course .courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .course .courses p {
    padding-top: 0.4rem;
    font-size: 12px;
  }
  .course .courses .course-info {
    display: block;
    position: relative;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--gray-color-2);
    margin-top: 3.3rem;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
/* 
===============
community
===============
*/

.community .section-title h2 {
  margin-bottom: -1rem;
  font-size: 2.6rem;
  font-weight: 300;
}

/* 
===============
footer
===============
*/
.footer {
  background-color: var(--darck-blue);
}
.footer .footer-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  place-items: center;
  place-items: center;
  margin-bottom: 4rem;
}

.footer-list ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 2rem;
}
.footer-list ul li {
  float: left;
}
.footer-txt {
  align-items: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2rem;
}
.footer-txt h1 {
  color: var(--white-color);
  margin-bottom: 1rem;
}
.footer-list ul li a {
  color: var(--white-color);
}

.footer .footer-sec p {
  color: var(--white-color);
  font-size: 1.2em;
}

.footer .footer-sec form input {
  outline: none;
  border: 1px solid var(--gray-color);
  padding: 10px 30px;
  border-radius: 5px;
}
.footer .footer-sec form button {
  outline: none;
  border: none;
  background: var(--brown-color);
  padding: 12px;
  border-radius: 5px;
  color: #fff;
}
.footer-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  place-items: center;
  margin-top: 2rem;
  margin-bottom: -2rem;
}

.under-line {
  width: 100%;
  height: 1px;
  background-color: var(--white-color);
}
.privacy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.footer-line p {
  color: var(--white-color);
}

@media screen and (max-width: 992px) {
  .footer .footer-sec {
    display: block;
  }
  .footer-list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2rem;
    gap: 0;
  }
  .footer-list ul li a {
    font-size: 1rem;
  }
  .footer-list ul li {
    margin-bottom: 0.5rem;
  }

  .footer-txt {
    justify-content: flex-start;
  }
  .privacy {
    display: block;

    gap: 0;
  }
  .footer-line {
    display: block;
    text-align: center;
  }
}
/* 
===============
login page
===============
*/

.login .login-ses {
  display: grid;
  justify-content: center;
  align-items: center;
  /* place-items: center; */
}

.login .login-ses h1 {
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
}
.login .login-ses h2 {
  color: var(--brown-color);
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
}
.login .login-ses h2 span {
  color: var(--brown-color);
}

.login .login-ses form {
  margin: 2rem 0;
}
.login .login-ses form label {
  color: var(--black-color);
}
.login .login-ses form .input-details input {
  width: 100%;
  height: 5vh;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid var(--black-color);
  border-radius: 3px;
}
.login .login-ses form button {
  margin: 2rem 0;
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px 30px;
  color: #fff;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: var(--brown-color);
}
.login .login-ses p {
  text-align: center;
  margin-top: -5px;
}

.login-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  margin: 2rem 0;
}

.login .login-ses .login-icon span a img {
  display: block;
  background: var(--blue);
  padding: 10px 30px;
  border-radius: 5px;
}
.login .login-ses a {
  text-align: center;
  color: blue;
}
.login .login-ses .check input {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.underline p {
  display: flex;
  flex-direction: row;
}
.underline p::before,
.underline p::after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
  color: var(--brown-color-2);
}
.underline p::before {
  margin-right: 10px;
}
.underline p::after {
  margin-left: 10px;
}

.email-msg {
  padding-bottom: 2rem;
}

/* 
===============
about page
===============
*/

.about-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.mg-about-head {
  position: relative;
}

.aboutheader-img-1 {
  position: absolute;
  right: 50%;
  bottom: 60%;
  transform: translate(50%, -50%);
  width: 12%;
}
.aboutheader-img-2 {
  position: absolute;
  right: 50%;
  bottom: 61%;
  transform: translate(50%, -50%);
  width: 11%;
}
.aboutheader-img-3 {
  position: absolute;
  right: 50%;
  bottom: 64%;
  transform: translate(50%, -50%);
  width: 9%;
}

.abouts-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  place-items: center;
  margin-bottom: 3rem;
}
.abouts-banner .about-info h2 {
  color: var(--black-color);

  font-size: 2rem;
  font-weight: 500;
}
.abouts-banner .about-info p {
  color: var(--black-color);

  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 1.6px;
}
.abouts-banner .about-banner-photo .about-banner-img {
  position: relative;
}

.about-banner-img1 {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  width: 77%;
}

.about-banner-img2 {
  position: absolute;
  right: 30%;
  bottom: 190%;
  transform: translate(50%, 50%);
  width: 35%;
}
.about-banner-img3 {
  position: relative;
  right: -17%;
  bottom: 0%;
  transform: translate(50%, -140%);
  width: 20%;
}
.about-banner-img4 {
  position: absolute;
  right: 77%;
  bottom: 20%;
  transform: translate(50%, 50%);
  width: 33%;
}
.about-banner-img5 {
  position: absolute;
  right: 35%;
  bottom: 0%;
  transform: translate(50%, 50%);
  width: 39%;
}
.what-wedo-sec {
  background-color: #cb9a6b;
}

.what-wedo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  place-items: center;
}

.we-do-img1 {
  width: 20%;
  margin-top: -8rem;
}

.we-do-img2 {
  width: 80%;
}
.what-wedo h2 {
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 500;
}
.what-wedo p {
  color: var(--white-color);
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 1.6px;
}
.what-wedo img {
  margin-left: 4rem;
}

.wedo-1 {
  background-color: #cb9a6b;
  margin-top: 1rem;
}
/* why  */
.why {
  background-color: var(--white-color);
}

.why-we-do {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  place-items: center;
}
.why-we-do h2 {
  color: var(--brown-color);
  font-size: 2rem;
  text-align: right;
  margin-right: 17rem;
}
.why-we-do p {
  color: var(--black-color);
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 2px;
  text-align: left;
  margin-right: 5rem;
}
.why-we-do img {
  width: 70%;
  margin-left: 4rem;
}
.black {
  color: var(--black-color);
}

.visit {
  background: var(--darck-blue);
}

.visit-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.visit h2 {
  color: var(--colrh-visit);
  text-align: center;
}

.visit span {
  color: var(--white-color);
  margin-bottom: 2rem;
}
.visit span img {
  width: 7%;
  margin-right: 1rem;
}

.team {
  margin-top: -4rem;
}
.team .team-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  position: relative;
}

.team-page .team-photo .individual-img img {
  display: block;
  width: 57%;
  height: 25vh;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.team-page article h2 {
  color: var(--black-color);
  font-size: 1.3rem;
  font-weight: 400;
}

.team-page article h4 {
  font-size: 12px;
  font-weight: 400;
}

.team-page article p {
  font-size: 12px;
  width: 70%;
  margin-bottom: 1rem;
}

.team-link {
  width: 7%;

  margin-bottom: 1rem;
}

.quetions {
  background-color: var(--question-back);
}
.quetions .ask-question h2,
h3 {
  text-align: center;
  font-weight: 400;
}
.quetions .ask-question h2 {
  font-size: 2rem;
  color: var(--brown-color);
}
.quetions .ask-question h3 {
  font-size: 1.7rem;
  color: var(--black-color);
  margin-bottom: 1.6rem;
}

.about-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.img-about-team {
  position: relative;
  right: 50%;
  bottom: 50%;
}

.about-team-img-1 {
  position: relative;
  right: -100%;
  bottom: -80%;

  width: 12%;
}
.about-team-img-2 {
  position: absolute;
  right: -11.5%;
  bottom: -67%;

  width: 11%;
}
.about-team-img-3 {
  position: absolute;
  right: -10.5%;
  bottom: -60%;

  width: 9%;
}
@media screen and (max-width: 992px) {
  .abouts-banner {
    display: block;

    margin-bottom: 3rem;
  }
  .what-wedo {
    display: block;
  }
  .why-we-do {
    display: block;
  }
  .team .team-page {
    grid-template-columns: repeat(2, 1fr);
  }
  .why-we-do p {
    margin-left: 4rem;
  }
  .what-wedo p {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .why-we-do h2 {
    margin-right: 8rem;
    margin-left: 4rem;
  }
  .what-wedo h2 {
    margin-left: 4rem;
  }
  .abouts-banner .about-info h2 {
    color: var(--black-color);
    margin-left: 4rem;
    font-size: 2rem;
    font-weight: 500;
  }
  .abouts-banner .about-info p {
    margin-left: 4rem;
    margin-bottom: 6rem;
  }
  .abouts-banner .about-banner-photo .about-banner-img {
    position: relative;
  }

  .about-banner-img1 {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    width: 40%;
  }

  .about-banner-img2 {
    position: absolute;
    right: 40%;
    bottom: 140%;
    transform: translate(50%, 50%);
    width: 20%;
  }
  .about-banner-img3 {
    position: relative;
    right: -27%;
    bottom: 0%;
    transform: translate(50%, -110%);
    width: 13%;
  }
  .about-banner-img4 {
    position: absolute;
    right: 67%;
    bottom: 30%;
    transform: translate(50%, 50%);
    width: 17%;
  }
  .about-banner-img5 {
    position: absolute;
    right: 35%;
    bottom: 0%;
    transform: translate(10%, 50%);
    width: 19%;
  }

  .mg-about-head {
    position: relative;
  }

  .aboutheader-img-1 {
    position: absolute;
    right: 50%;
    bottom: 84.5%;
    transform: translate(50%, -50%);
    width: 12%;
  }
  .aboutheader-img-2 {
    position: absolute;
    right: 50%;
    bottom: 85%;
    transform: translate(50%, -50%);
    width: 11%;
  }
  .aboutheader-img-3 {
    position: absolute;
    right: 50%;
    bottom: 86%;
    transform: translate(50%, -50%);
    width: 9%;
  }

  .about-sec {
    margin-top: -18rem;
  }
}
.about {
  padding-left: 5rem;
}

/* 
===============
download page
===============
*/

.firebase-sec {
  display: grid;
  justify-content: center;
  align-items: center;
}

.firebase-sec h2 {
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
}

.firebase-sec textarea {
  background-color: var(--textrea-backg-color);
  color: white;
  font-weight: 300;
  width: 50em;
  height: 30em;
  outline: none;
  text-align: center;
  font-size: 1rem;
}
.code-area {
  display: grid;
  justify-content: center;
  align-items: center;
}
.code-snippet-area {
  background-color: var(--textrea-backg-color);
  color: white;
  font-weight: 300;
  width: 50em;
  height: 40em;
  outline: none;
  text-align: center;
  font-size: 1rem;
}
.download {
  padding: 0 5rem;
}

.example-sec ol {
  margin-left: 3rem;
}
.example-sec ol li {
  color: var(--gray-color);
}
.apikey-sec {
  display: grid;
  justify-content: center;
  align-items: center;
}
.api-key-box {
  width: 50vw;
  height: 5vh;
  background-color: var(--darck-blue);
}
.api-key-box p {
  color: var(--white-color);
  text-align: left;
  margin-left: 3rem;
}
.dowload-page-btn {
  background-color: var(--brown-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 2rem 4rem;
}
.count {
  margin-left: -1rem;
}

.download-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .sug-download {
  display: grid;
  grid: ;
} */

.user-com-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin: 2rem 0;
}

.comment-input {
  width: 60%;
  height: 20vh;
  border: 1px solid;
  margin: 2rem 0;
}

.comment form {
  margin-left: 3rem;
}

.user-com-img img {
  width: 5%;
}
.userimg img {
  width: 50%;
}

.pre-gri {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.pre-photo img {
  width: 50%;
}

.pre-info span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reply {
  display: flex;
  gap: 2rem;
}
.pre-info a {
  color: var(--darck-blue);
}

.pre-info i {
  margin-left: 0.5rem;
  color: var(--darck-blue);
}

@media screen and (max-width: 992px) {
  .download-icon {
  }
  .dowload-page-btn {
    background-color: var(--brown-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 1rem 1rem;
    margin-top: 2rem;
    font-size: 5px;
  }
  .dowload-page-btn a {
    font-size: 10px;
  }
  .count {
    font-size: 10px;
    margin-left: 0.1rem;
  }
  .comment-input {
    width: 10em;
    height: 20vh;
    border: 1px solid;
    margin: 2rem 0;
  }
  .download {
    padding: 0 3rem;
  }
  .firebase-sec textarea {
    font-size: 0.5rem;
  }
  .code-snippet-area {
    font-size: 0.5rem;
  }
}
